static/images/1003779.jpg
static/images/1004198.jpg
static/images/1004203.jpg
static/images/1004208.jpg
static/images/1008649.jpg
static/images/1010053.jpg
static/images/1013436.jpg
static/images/1013841.jpg
static/images/1014718.jpg
static/images/1014788.jpg
static/images/1015360.jpg
static/images/1015856.jpg
static/images/1016723.jpg
static/images/1017156.jpg
static/images/1018461.jpg
static/images/1018541.jpg
static/images/1018939.jpg
static/images/1019285.jpg
static/images/1020293.jpg
static/images/1020523.jpg
static/images/1020590.jpg
static/images/1020591.jpg
config.py
analisis_y_mejoras.html
utils/decorators.py
check_data.py
check_double_precision.py
check_imports.py
check_pagos_sequence.py
check_userlogin_format.py
debug_columns.py
delete_november_2025.py
extensions.py
inspect_db.py
inspect_excel.py
inspect_full_schema.py
inspect_pg_schema.py
migrate_data.py
reproduce_error.py
reproduce_exact_error.py
reset_id_sequence.py
test_api_response.py
.gitignore
test_exact_insertion.py
test_pagos_query.py
test_rank_pav_cc.py
.gitignore
test_upsert.py
test_ventas_duplicates.py
.gitignore
services/__pycache__/auth_service.cpython-313.pyc
services/__pycache__/data_service.cpython-313.pyc
services/__pycache__/report_service.cpython-313.pyc
utils/__pycache__/decorators.cpython-313.pyc
blueprints/__pycache__/main.cpython-313.pyc
blueprints/__pycache__/auth.cpython-313.pyc
blueprints/__pycache__/api.cpython-313.pyc
__pycache__/models.cpython-314.pyc
__pycache__/models.cpython-313.pyc
__pycache__/gestiondata.cpython-314.pyc
__pycache__/gestiondata.cpython-313.pyc
__pycache__/extensions.cpython-314.pyc
__pycache__/extensions.cpython-313.pyc
__pycache__/config.cpython-314.pyc
__pycache__/config.cpython-313.pyc
__pycache__/chart_utils.cpython-314.pyc
__pycache__/chart_utils.cpython-313.pyc
__pycache__/app.cpython-314.pyc
__pycache__/app.cpython-313.pyc
