/* Estilos para el modal */
.modal {
    display: none;
    /* Oculto por defecto */
    position: fixed;
    /* Posición fija */
    z-index: 1;
    /* Sitúalo por encima de todo */
    left: 0;
    top: 0;
    width: 100%;
    /* Ancho completo */
    height: 100%;
    /* Alto completo */
    overflow: auto;
    /* Habilitar scroll si es necesario */
    background-color: rgba(0, 0, 0, 0.4);
    /* Fondo oscuro con opacidad */
    justify-content: center;
    /* Centrar horizontalmente */
    align-items: center;
    /* Centrar verticalmente */
    transition: opacity 0.3s ease;
    /* Transición suave */
}

/* Contenido del modal */
.modal-content {
    background-color: var(--light);
    /* Color de fondo del modal */
    padding: 20px;
    border-radius: 20px;
    border: 1px solid #333;
    max-width: 540px;
    /* Ancho máximo del modal */
    width: 100%;
    /* Ancho relativo */
    color: #fff;
    position: relative;
    /* Para posicionar el botón de cierre */
}

/* Botón para cerrar el modal */
.close {
    color: #aaa;
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: rgb(53, 50, 50);
    text-decoration: none;
}

/*Formulario*/
.form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 540px;
    padding: 33px;
    border-radius: 20px;
    position: relative;
    background-color: var(--light);
    color: #fff;
    border: 1px solid #333;
    transform: scale(0.5);
    transition: transform 0.3s ease;

}

.modal.show .form {
    transform: scale(1);
}

.title {
    font-size: 28px;
    font-weight: 600;
    letter-spacing: -1px;
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 30px;
    color: #00bfff;
}

.title::before {
    width: 18px;
    height: 18px;
}

.title::after {
    width: 18px;
    height: 18px;
    animation: pulse 1s linear infinite;
}

.title::before,
.title::after {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    border-radius: 50%;
    left: 0px;
    background-color: #00bfff;
}

.message,
.signin {
    font-size: 14.5px;
    color: var(--dark);
}

.signin {
    text-align: center;
}

.signin a:hover {
    text-decoration: underline royalblue;
}

.signin a {
    color: #00bfff;
}

.flex {
    display: flex;
    width: 100%;
    gap: 6px;
}

.form label {
    position: relative;
}

.form label .input {
    background-color: var(--light);
    color: var(--dark);
    width: 100%;
    padding: 20px 05px 05px 10px;
    outline: 0;
    border: 1px solid rgba(105, 105, 105, 0.397);
    border-radius: 10px;
}

.form label .input+span {
    color: var(--dark);
    position: absolute;
    left: 10px;
    top: 0px;
    font-size: 0.9em;
    cursor: text;
    transition: 0.3s ease;
}

.form label .input:placeholder-shown+span {
    top: 12.5px;
    font-size: 0.9em;
}

.form label .input:focus+span,
.form label .input:valid+span {
    color: #00bfff;
    top: 0px;
    font-size: 0.7em;
    font-weight: 600;
}

.input {
    font-size: medium;
}

.submit {
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 10px;
    color: var(--dark);
    font-size: 16px;
    transform: .3s ease;
    background-color: #00bfff;
}

.submit:hover {
    background-color: #00bfff96;
}

@keyframes pulse {
    from {
        transform: scale(0.9);
        opacity: 1;
    }

    to {
        transform: scale(1.8);
        opacity: 0;
    }
}

dialog[open] {
    scale: 1;
    transition: scale 0.3s ease;

    @starting-style {
        scale: 0;
    }
}

dialog {
    transition: scale 0.3s ease,
      display 0.3s ease allow-discrete;
    scale: 0;
}
