<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">    
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.6.0/dist/chart.min.js"></script>
    <link rel="icon" type="image/x-icon" href="/static/images/logo.png">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/cargas.css') }}">
    <title>Heromovil | HenryValmes</title>
</head>

<body>

    <!-- Sidebar -->
    <div class="sidebar">
        <a href="#" class="logo">
            <i class='bx bx-store-alt'></i>
            <div class="logo-name"><span>Hero</span>Movil</div>
        </a>
        <ul class="side-menu">
            <li><a href="{{ url_for('home') }}"><i class='bx bxs-dashboard'></i>Inicio</a></li>
            <li><a href="#"><i class='bx bx-store-alt'></i>Comisiones</a></li>
            <li class="active"><a href="{{ url_for('dashboard') }}"><i class='bx bx-analyse'></i>Analiticas</a></li>
            <li><a href="#"><i class='bx bx-message-square-dots'></i>Tickets</a></li>
            <li><a href="#"><i class='bx bx-group'></i>Usuarios</a></li>
            <li><a href="#"><i class='bx bx-cog'></i>Configuracion</a></li>
        </ul>
        <ul class="side-menu">
            <li>
                <a href="{{ url_for('index') }}" class="logout">
                    <i class='bx bx-log-out-circle'></i>
                    Logout
                </a>
            </li>
        </ul>
    </div>
    <!-- End of Sidebar -->

    <!-- Main Content -->
    <div class="content">
        <!-- Navbar -->
        <nav>
            <i class='bx bx-menu'></i>

            <form action="#">
                <div class="form-input">
                    <input type="search" placeholder="Search...">
                    <button class="search-btn" type="submit"><i class='bx bx-search'></i></button>
                </div>
            </form>

            <input type="checkbox" id="theme-toggle" hidden>            
            <label for="theme-toggle" class="theme-toggle">
                <i class='bx bx-moon'></i>
                <i class='bx bx-sun'></i>
            </label>

            <!--<a href="#" class="notif">
                <i class='bx bx-bell'></i>
                <span class="count">12</span>
            </a>-->
            <a href="#" class="profile">
                <img src="/static/images/logo.png">
            </a>
        </nav>
        <!-- End of Navbar -->
        
        <!--Info-->
        <main>
            <div class="header">
                <div class="left">
                    <h1>Dashboard</h1>
                    <ul class="breadcrumb">
                        <li><a href="#">
                                Analiticas
                            </a></li>
                        /
                        <li><a href="#" class="active">Ventas</a></li>
                    </ul>
                </div>
                <a href="#" class="report">
                    <i class='bx bx-cloud-download'></i>
                    <span>Download CSV</span>
                </a>
            </div>
            <!-- End of info -->

            <!--Selector de Empleado-->           
            <ul class="insights">
                <li>
                    <i class='bx bx-check-double'></i>
                    <span class="info">
                        <h3>
                            Vendedor
                        </h3>                        
                    </span>
                </li>
                <li><i class='bx bx-chevron-right'></i>
                    <span class="info">
                        <div class="select">
                            <select id="employeeSelect">
                                <option value="none" selected>Selecciona Empleado</option>
                                <option value="opcion1">Erika Vargas</option>
                                <option value="opcion2">Maria Delgado</option>
                                <option value="opcion3">Santa Silva</option>
                                <option value="opcion4">Lishmery Adames</option>
                                <option value="opcion5">Jose Manuel</option>
                            </select>
                        </div>                    
                    </span>
                </li>
            </ul>
            <!--Selector de Empleado Fin-->

            <!-- Tarjetas -->
            <ul class="insights">
                <li>
                    <i class='bx bx-calendar-check'></i>
                    <span class="info">
                        <h3>
                            25
                        </h3>
                        <p>PAV</p>
                    </span>
                </li>
                <li><i class='bx bx-show-alt'></i>
                    <span class="info">
                        <h3>
                            500
                        </h3>
                        <p>Clientes Atendidos</p>
                    </span>
                </li>
                <li><i class='bx bx-line-chart'></i>
                    <span class="info">
                        <h3>
                            5%
                        </h3>
                        <p>Conversion</p>
                    </span>
                </li>
                <li><i class='bx bx-dollar-circle'></i>
                    <span class="info">
                        <h3>
                            $1,035
                        </h3>
                        <p>Comision</p>
                    </span>
                </li>
            </ul>
            <!--Fin tarjetas -->
            
            <!--Detalle Ventas-->
            <div class="bottom-data">
                <div class="orders" id="obj-rest">
                    <h2>Obetivos / Resultados</h2>
                    <table>
                        <thead>
                            <tr>
                                <th>
                                    <h4>Producto</h4>
                                </th>
                                <th>
                                    <h4>Objetivo</h4>
                                </th>
                                <th>
                                    <h4>Resultado</h4>
                                </th>
                                <th>
                                    <h4>Logro</h4>
                                </th>
                                <th>
                                    <h4>Proyeccion</h4>
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
            <!--Detalle Ventas Fin-->

            <!-- Datos Generales -->
            <div class="bottom-data">
                <div class="orders">                
                    <!--Chart lieal inicio-->
                    <section id="main-chart" class="recent-orders">  
                        <div class="select">
                        <select id="yearSelect">
                            <option value="2023">2023</option>
                            <option value="2024">2024</option>
                            <option value="2025" selected>2025</option>
                        </select>  
                        </div>                      
                        <header>
                            <div class="wrapper-reach">
                                <div class="wrapper-filter">
                                    <div class="filters">
                                        <div class="filter selected" data-label="Todos">
                                            <p>Todo</p>
                                        </div>
                                        <div class="filter" data-label="Flex/Max">
                                            <p>Flex</p>
                                        </div>
                                        <div class="filter" data-label="Internet">
                                            <p>Internet</p>
                                        </div>                                        
                                        <div class="filter" data-label="Migraciones">
                                            <p>Migraciones</p>
                                        </div>
                                        <div class="filter" data-label="Aumentos Pospago">
                                            <p>Aumentos</p>
                                        </div>
                                        <div class="filter" data-label="Aumentos Internet">
                                            <p>Aumentos Net</p>
                                        </div>
                                        <div class="filter" data-label="Fidepuntos Pospago">
                                            <p>Fide Pos</p>
                                        </div>
                                        <div class="filter" data-label="Fidepuntos Aumento">
                                            <p>Fide Up</p>
                                        </div>
                                        <div class="filter" data-label="Fidepuntos Disminucion">
                                            <p>Fide Down</p>
                                        </div>
                                        <div class="filter" data-label="Reemplazo Pospago">
                                            <p>Reemp Pos</p>
                                        </div>
                                        <div class="filter" data-label="Reemplazo Aumento'">
                                            <p>Reemp Up</p>
                                        </div>
                                        <div class="filter" data-label="Reemplazo Disminucion'">
                                            <p>Reemp Down</p>
                                        </div>
                                        <div class="filter" data-label="Reemplazo Internet">
                                            <p>Reemp Net</p>
                                        </div>
                                        <div class="filter" data-label="Fidepuntos Internet">
                                            <p>Fide Net</p>
                                        </div>
                                        <div class="filter" data-label="Fidepuntos InternetAum">
                                            <p>Fide NetUp</p>
                                        </div>
                                        <div class="filter" data-label="Fidepuntos InternetDism">
                                            <p>Fide NetDown</p>
                                        </div>
                                        <div class="filter" data-label="Reemplazo InternetAum">
                                            <p>Reemp NetUp</p>
                                        </div>
                                        <div class="filter" data-label="Reemplazo InternetDism">
                                            <p>Reemp NetDown</p>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                        </header>
                        <div class="chart">
                            <canvas id="chartMain" width="700" height="200"></canvas>
                        </div>
                    </section>
                    <!--Chart lieal inicio-->
                </div>
            </div>
        </main>

    </div>      
    <script src="{{ url_for('static', filename='js/charts.js') }}"></script>
    <script src="{{ url_for('static', filename='js/home.js') }}"></script>
</body>
</html>