<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">    
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="icon" type="image/x-icon" href="/static/images/logo.png">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">  
    <link rel="stylesheet" href="{{ url_for('static', filename='css/activity_table.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.6.0/dist/chart.min.js"></script>      
    <title>HeromovilApp</title>
</head>

<body>

    <!-- Sidebar -->
    <div class="sidebar close">
        <a href="#" class="logo">
            <i class='bx bx-store-alt'></i>
            <div class="logo-name"><span>Hero</span>Movil</div>
        </a>
        <ul class="side-menu">
            <li class="active"><a href="{{ url_for('home') }}"><i class='bx bxs-dashboard'></i>Inicio</a></li>
            <li><a href="{{ url_for('dashboard') }}"><i class='bx bx-analyse'></i>Analiticas</a></li>
            <li><a href="{{ url_for('Comisiones') }}"><i class='bx bx-dollar'></i>Comisiones</a></li>
            <li><a href="{{ url_for('posiciones') }}"><i class='bx bx-group'></i>Posiciones</a></li>
            <li><a href="{{ url_for('procesos') }}"><i class='bx bx-cog'></i>Procesos</a></li>
            <!--<li><a href="#"><i class='bx bx-store-alt'></i>Comisiones</a></li>
            <li><a href="#"><i class='bx bx-message-square-dots'></i>Tickets</a></li>
            <li><a href="#"><i class='bx bx-group'></i>Usuarios</a></li>
            <li><a href="#"><i class='bx bx-cog'></i>Configuracion</a></li>-->
        </ul>
        <ul class="side-menu">
            <li>
                <a href="{{ url_for('index') }}" class="logout">
                    <i class='bx bx-log-out-circle'></i>
                    Logout
                </a>
            </li>
        </ul>
    </div>
    <!-- End of Sidebar -->

    <!-- Main Content -->
    <div class="content">

        <!-- Navbar -->
        <nav>
            <i class='bx bx-menu'></i>
            <form action="#">
                <div class="form-input">
                    <input type="search" placeholder="Search...">
                    <button class="search-btn" type="submit"><i class='bx bx-search'></i></button>
                </div>
            </form>
            <label for="switch" class="switch">
                <input id="switch" type="checkbox" />
                <span class="slider"></span>
                <span class="decoration"></span>
            </label>
            
            <a href="#" class="profile">
                <img src="/static/images/logo.png">
            </a>
        </nav>
        <!-- End of Navbar -->
        
        <main>
            <div class="header">
                <div class="left">
                    <h1>Resultados Generales</h1>
                    <ul class="breadcrumb">
                        <li><a href="#">
                                Inicio
                            </a></li>
                        /
                        <li><a href="#" class="active">General</a></li>
                    </ul>
                </div>
                <!--<a href="#" class="report">
                    <i class='bx bx-cloud-download'></i>
                    <span>Descargar CSV</span>
                </a>-->
            </div>

        <!-- Tarjetas -->
        <ul class="insights">
            <li>
                <i class='bx bx-calendar-check'></i>
                <span class="info">
                    <h3 id="pav-value">0</h3>
                    <p>PAV</p>
                </span>
            </li>
            <li><i class='bx bx-show-alt'></i>
                <span class="info">
                    <h3 id="clientes-value">0</h3>
                    <p>Clientes Atendidos(Pagos)</p>
                </span>
            </li>
            <li><i class='bx bx-line-chart'></i>
                <span class="info">
                    <h3 id="conversion-value">0%</h3>
                    <p>Conversion</p>
                </span>
            </li>
            <li><i class='bx bx-dollar-circle'></i>
                <span class="info">
                    <h3 id="recargas-value">$0</h3>
                    <p>Recargas Vendidas</p>
                </span>
            </li>
        </ul>
        <!--Fin tarjetas -->

            <div class="bottom-data">
                <!-- Recent Activity -->
                <div class="orders">
                    <div class="header">
                        <i class='bx bx-receipt'></i>
                        <h3>Actividad Reciente</h3>
                    </div>
                    <table class="activity-table">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Producto</th>
                                <th>Cantidad</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for activity in recent_activity %}
                            <tr>
                                <td>{{ activity[0][10:] }}</td>
                                <td>{{ activity[1] }}</td>
                                <td>{{ activity[2] }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <!-- End of Recent Activity -->

                <!-- Overview -->
                <div class="reminders">
                    <div class="header">
                        <i class='bx bx-pie-chart-alt-2'></i>
                        <h3>Overview</h3>
                    </div>
                    <canvas id="salesOverviewChart"></canvas>                    
                </div>
                <!--  End of Overview -->
            </div>

            <!-- Tabla Ordenes Call Center-->
            <div class="bottom-data">
                <div class="orders" id="top-empleados-cc">
                    <div class="header">
                        <i class='bx bx-receipt'></i>
                        <h3>Top 10 Vendedor Call Center</h3>
                        <!--<i class='bx bx-filter'></i>
                        <i class='bx bx-search'></i>-->
                    </div>
                    <table class="greyGridTable">
                        <thead>
                            <tr>
                                <th>Vendedor</th>
                                <th>Total PAV</th>
                                <th>Posición</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- Se llenará dinámicamente con JS -->
                        </tbody>
                    </table>
                </div>            
                <!-- End of Orders -->                
            </div>
        </main>
    </div>
    
<script src="{{ url_for('static', filename='js/home.js') }}"></script>
<script src="{{ url_for('static', filename='js/index.js') }}"></script>
<script src="{{ url_for('static', filename='js/darkMode.js') }}"></script>
</body>

</html>