<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Registro - HeromovilApp</title>

    <!-- CSS de login -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">

    <!-- Ionicons-->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>   
</head>

<body>
    <section>
        <form id="registerForm">
            <h1>Registro de Usuario</h1>
            
            <!-- Email -->
            <div class="inputbox">
                <ion-icon name="mail-outline"></ion-icon>
                <input type="email" id="email" required>
                <label>Email / Usuario</label>
            </div>
            
            <!-- Contraseña -->
            <div class="inputbox">
                <ion-icon name="lock-closed-outline"></ion-icon>
                <input type="password" id="password" required>
                <label>Contraseña</label>
            </div>
            
            <!-- Confirmar Contraseña -->
            <div class="inputbox">
                <ion-icon name="lock-closed-outline"></ion-icon>
                <input type="password" id="confirmPassword" required>
                <label>Confirmar Contraseña</label>
            </div>
            
            <!-- Seleccionar Empleado -->
            <div class="inputbox">
                <ion-icon name="person-outline"></ion-icon>
                <select id="codigo_usuario" required>
                    <option value="">Seleccione un empleado...</option>
                </select>
                <label style="top: -10px; font-size: 12px;">Empleado Asociado</label>
            </div>
            
            <!-- Rol -->
            <div class="inputbox">
                <ion-icon name="key-sharp"></ion-icon>
                <select id="nivel" required>
                    <option value="">Seleccione un rol...</option>
                    <option value="admin">Administrador (Acceso Total)</option>
                    <option value="supervisor">Supervisor (Home, Dashboard, Posiciones, Comisiones)</option>
                    <option value="ventas">Ventas (Dashboard, Comisiones, Posiciones - Solo sus datos)</option>
                </select>
                <label style="top: -10px; font-size: 12px;">Rol</label>
            </div>
            
            <button type="submit">Registrar</button>
            <div class="register">
                <p>¿Ya tienes cuenta? <a href="{{ url_for('main.index') }}">Iniciar Sesión</a></p>
            </div>
        </form>
    </section>
    
    <script src="{{ url_for('static', filename='js/registro.js') }}"></script>
</body>
</html>